
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.pulseaudio-loopback-device-icon {
    background-image: url("icons/mic-off.svg");
    background-size: 20px;
    height: 20px;
    width: 20px;
}

.pulseaudio-loopback-device-on-icon {
    background-image: url("icons/mic-on.svg");
    background-size: 20px;
    height: 20px;
    width: 20px;
}
